/* CSS files add styling rules to your content */

body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 2em;
}

h1 {
  font-style: italic;
  color: #373fff;
}

.boxed {

}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  
}

.flex-child {
  margin-left: auto;
    margin-left: auto;

  border: 2px solid black;
  vertical-align: top;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

.player-name-box {
  margin: auto;
  vertical-align: middle;
  white-space: nowrap;
}
