/* CSS files add styling rules to your content */

body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 2em;
}

h1 {
  font-style: italic;
  color: #373fff;
}

.boxed {

}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  
}

.flex-child {
  width:100px;
  height: 100px;
  margin: auto;
  border: 2px solid black;
  vertical-align: middle;
  padding-top: 50px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
}

.player-name-box
