/* CSS files add styling rules to your content */

body {
  font-family: "Swiss 911";
  width:750px;
  height:900px;
  border: thick solid black;
}

h1 {
  font-style: italic;
  color: #373fff;
}

.body-div {
  position:relative;
  height:100%;
  width:100%;
  margin: 0px;
  padding: 0px; 
  background-color:#050cc7;
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position:absolute;
  bottom:100px;
  width: 100%;
  z-index: 1;
}

.flex-child {
  margin: auto;
  position:relative;
  border: 6px solid black;
  vertical-align: top;
  padding:0px;
  z-index: 1;
}

.money-total-box {
  margin: 6px;
  text-align:center;
  justify-content:center;
  vertical-align: middle;
  white-space: nowrap;
  font-size:25px;
  font-weight:bold;
  color:white;
  z-index:1;
}

.line-separator {
   width: 100%;
  height: 4px;
  background-color:black;
  margin:0px;
  margin-top:5px;
  margin-bottom:5px;
}

.player-name-box {
  display:block;
  white-space: nowrap;
  font-size:20px;
  font-weight:lighter;
  color:white;
  font-family:'Merienda One', Helvetica, cursive;
  margin:20px;
  min-height:60px;
  z-index: 1;
}

.player-insert-box
{
  margin:auto;
  position: absolute;
  bottom: 20px;
  left: 10px;
  border: 3px solid black;
  color: white;
  text-shadow: 1px 1px black;  
  padding:10px;
}

#jeopardyLogo {
  display: block;
  margin-left:auto;
  margin-right:auto;
  position: relative;
  outline: 5px solid black;
}

.spacer {
  height:10px;
}

#addPlayerButton {
  background-color: white;
  font-family: "Swiss 911";
  font-weight: bold;
}

#countdownSpace {
  display: block;
  position: absolute;
  height:470px;
  line-height:400px;
  width:662px;
  left:50%;
  top:50%;
  margin-left: -308px;
  margin-top: -340px;
  z-index:0;
  text-align:center;
  font-size:200px;
  color: white;
  text-shadow: 2px 2px black;
  font-weight: bold;
  background-color:#060CE9;
  border:5px solid black;
}

#startRoundButton {
  display: block;
  position: absolute;
  bottom:10px;
  right:10px;
}

#board-grid {
  display: grid;
  position:relative;
  grid-template-columns: auto auto auto auto auto auto;
  margin:30px;
  margin-top:20px;
  padding: 0px;
  border: 10px solid black;
}

.board-grid-item {
  border: 4px solid black;
  height:60px;
  line-height: 60px;  
  padding: 0px;
  text-align:center;
  font-size:40px;
  font-weight: 900;
  color: #FFCC00;
  text-shadow: 2px 2px black;
  background-color:#060CE9;
  z-index:1;
}

.board-category-item {
  border: 4px solid black;
  border-bottom: 8px solid black;
  padding: 0px;
  text-align: center;
  color: white;
  text-shadow: 2px 2px black;
  font-weight: bold;
  font-size:15px;
  height:60px;
  z-index:1;
  background-color:#060CE9;
  line-height: 60px;
}

.buzzer {
  display:block;
  width: 30px;
  height: 15px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  position:absolute;
  border: 1px solid black;
  top:-22px;
  left:50%;
  margin-left:-15px;
  z-index: -1;
}